/* CSS Stylesheet for Utah Trails  */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Volkhov:700');
body {
    font-family: 'Montserrat', sans-serif;
}

.bgColor {
    background-color: #202020 !important;
}

.topHeaderBg {
    background-image: url(../../../../mapBg-1.jpg);
}

.icon {
    padding-left:1%;
    margin-top: -10px;
    margin-right:-5px;
}

.socialIcon {
    font-size: 180%;
    padding-right: 10px;
    margin-bottom: 5%;
}

.extraMargin {
    padding-right: 15px;
}

.logoTitle {
    font-size: 600%;
    font-weight: bold;
    font-family: 'Volkhov', serif;
}
.description {
    font-size: 300%;
    background-color: #202020;
    color: rgba(255,255,255,.7);
    padding-left: 1.5%;
}

.heroBG {
    background-image: url('../../../../hero-img.jpg');
    background-repeat: no-repeat;
    margin-top:-57px;
    background-size: 100%;
    height: 30rem;
    background-color: #fff;
}
.bg-danger {
    background: transparent !important;
    /* background-color: #000 !important; */

}

.heroTxt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 2%;
    text-align: center;
    font-weight: bold;
    margin-top: -70px;
    color: #000;
}

.card {
    margin-bottom: 10% !important;
}
/* .footer {
    color: #000;
} */

#footer {
    background-color: #202020;
    color: #ccc;
}

.row {
    padding-top: 3% !important;
}


.myfooter {
    list-style-type: none !important;
    border-bottom: 1px dotted white;
    padding: 5px 0;
    margin-left:-37px;
}

.myfooter:hover {
    border-bottom: 1px dotted orange;
}

.footerTxt {
    color: white;
    text-decoration: none;
    text-align: left;
    margin-left: 0px;
    font-size: 110%;
}


.linkBorder {
    border-bottom: 1px solid dotted;
    color: white;
}
.linkBorder:hover {
    border-bottom: 1px solid dotted;
    color: orange;
}
.footerTxt:hover {
    color: orange;
    text-decoration: none;
}


#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: orange;
    border: 0;
    width: 35%;
    padding: 6px 3px;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #13a456;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #202020;
}

.highlight1 {
    border-bottom: 2px solid orange;
    padding: 2px;
    color: orange;
}

.highlight2 {
    border-bottom: 2px solid orange;
    padding: 2px;
}


#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}

.text-left {
    width: 80%;
    margin: 0 auto;
}

.newsletter { margin-top: 3%;}

.jumbotron {
    margin-bottom: 0px !important;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: orange !important;
    border-bottom: 1px solid orange !important;
}

button:focus {outline:0;}